{% extends "flavors2/base.html" %}

{% block content %}

{% if form.errors %}
    {% filter upper %}
    <p> Your username and password didn`t match. Please try again. </p>
    {% endfilter %}
{% endif %}


<form method='post' action="{% url 'auth_view' %}">
{% csrf_token %}
<label for="username">User name:</label>
<input type="text" name="username" value="" id="username">
<label for="password">Password:</label>
<input type="password" name="password" value="" id="password">
<input type="submit" value="login" />

</form>

{% endblock %}
